<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/stripey_app/style.css" />
    <script>
        function toggle_rightbarcontents() {
            var rb = document.getElementById('rightbarcontents');
            var sh = document.getElementById('rightbarshowhide');
            if (rb.style.display == 'block') {
                rb.style.display = 'none';
                sh.innerText = 'Expand menu';
            } else {
                rb.style.display = 'block';
                sh.innerText = 'Collapse menu';
            }
        }
    </script>
    <title>{% block title %}Stripey{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>

  <body>
    <div id="page">

        <div id="header">
         <div id="topbar"></div>
         <div id="options">
             <div id="search">
                 <form action="search.html">
                     <input name="query" size="10" value="{{ query }}"/>
                     <input type="submit" value="Search"/>
                 </form>
             </div>
             <div id="basetext">
                 <form action="set_base_text.html">
                     <label for="base_ms_id">Base Text:</label>
                     <select name="base_ms_id" onchange="this.form.submit()">
                         {% for class in all_mss %}
                            <option disabled>{{ class.0 }}</option>
                            {% for ms in class.1 %}
                                <option value="{{ ms.id }}" {% if ms.id == base_ms_id %}selected{% endif %}>{{ ms.display_ref }}</option>
                            {% endfor %}
                         {% endfor %}
                     </select>
                 </form>
             </div>
         </div>
         <div id="banner">
          <b>Stripey</b>
         </div>
         <div id="menu">
           <a href="index.html">Home</a>
           <a href="/admin/" target="admin">Manage</a>
           <a href="http://log:out@{{ absurl }}">Log out</a>
         </div>
        </div>

        <div id="container">

        <div class="clear"></div>

        <div id="rightbar" class="rightbar">
            <div id="rightbarshowhide" onclick="toggle_rightbarcontents();" style="text-decoration:underline;">Collapse menu</div>
            <div id="rightbarcontents" style="display:block;"><br/>{% block rightbar %}{% endblock %}</div>
        </div>

        <div id="content" class="content">
              {% block content %}{% endblock %}
        </div>

        <div class="clear"></div>

        <div id="fullcontent" class="fullcontent">
              {% block fullcontent %}{% endblock %}

              {% block correctors_warning %}
              <i>* Note on corrections: The XML files specify an order to correctors, so the text shown _should_ be as it left the corrector's hand...</i>
              {% endblock %}
        </div>

        <div class="clear"></div>

        </div>

        <div id="footer">
            Linux, <a href="http://www.python.org">Python</a>, <a href="http://www.djangoproject.com">Django</a>, <a href="http://www.postgresql.org">PostgreSQL</a>, <a href="http://redotheweb.com/DependencyWheel/">DependencyWheel</a>, <b><a href="http://rameus.org.uk">rameus.org.uk</a></b>
        </div>

    </div>

  </body>

</html>
