<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/stripey_app/style.css" />
    <script>
        function toggle_rightbarcontents() {
            var rb = document.getElementById('rightbarcontents');
            var sh = document.getElementById('rightbarshowhide');
            if (rb.style.display == 'block') {
                rb.style.display = 'none';
                sh.innerText = 'Expand menu';
            } else {
                rb.style.display = 'block';
                sh.innerText = 'Collapse menu';
            }
        }
    </script>
    <title>{% block title %}Stripey{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>

  <body>
    <div id="page">

        <div id="header">
         <div id="topbar"></div>
         <div id="options">
             <form action="set_base_text.html">
                 <label for="base_ms_id">Base Text:</label>
                 <select name="base_ms_id" onchange="this.form.submit()">
                     {% for ms in all_mss %}
                         <option value="{{ ms.id }}" {% if ms.id == base_ms_id %}selected{% endif %}>{{ ms.display_ref }}</option>
                     {% endfor %}
                 </select>
             </form>
         </div>
         <div id="banner">
          <b>Stripey</b>
         </div>
         <div id="menu">
           <a href="index.html">Home</a>
           <a href="/admin/" target="admin">Manage</a>
         </div>
         Logged in as {{ request.user.username }} <a href="/accounts/logout">Log out</a>
        </div>

        <div id="container">

        <div class="clear"></div>

        <div id="rightbar" class="rightbar">
            <div id="rightbarshowhide" onclick="toggle_rightbarcontents();" style="text-decoration:underline;">Collapse menu</div>
            <div id="rightbarcontents" style="display:block;"><br/>{% block rightbar %}{% endblock %}</div>
        </div>

        <div id="content" class="content">
              {% block content %}{% endblock %}
        </div>

        <div class="clear"></div>

        <div id="fullcontent" class="fullcontent">
              {% block fullcontent %}{% endblock %}

              {% block correctors_warning %}
              <i>* Note on corrections: The text displayed for a corrector is the firsthand(orig) reading with any specific changes made by the corrector as it is not possible from the XML to know the order in which correctors acted. Unfortunately, this means it is possible that the text as it left that corrector's hand is not accurately displayed.</i>
              {% endblock %}
        </div>

        <div class="clear"></div>

        </div>

        <div id="footer">
            <a href="http://www.openshift.com">Linux on OpenShift</a>, <a href="http://www.python.org">Python</a>, <a href="http://www.djangoproject.com">Django</a>, <a href="http://www.postgresql.org">PostgreSQL</a>, <a href="http://redotheweb.com/DependencyWheel/">DependencyWheel</a>, <b><a href="http://rameus.org.uk">rameus.org.uk</a></b>
        </div>

    </div>

  </body>

</html>
