{% extends "stripey_app/base.html" %}

{% block content %}

<h2>Text of {{ book.name|title }} {{ chapter.num }}</h2>

<h3><a href="collation.html?bk={{ book.num }}&ch={{ chapter.num }}">View collation</a></h3>

<table>
    {% for verse in verses %}
        <tr><th colspan="2" align="left">Verse {{ verse.0 }}</th></tr>

        {% for text in verse.1 %}
            <tr>
                <th>
                    {% for ms in text.1 %}
                        {{ ms.0.ms_ref }} {% if ms.1 %}({{ ms.1 }}){% endif %} | 
                    {% endfor %}
                </th>
                <td>{{ text.0 }}</td>
            </tr>
        {% endfor %}
        
    {% endfor %}
</table>

{% endblock content %}
