{% extends "stripey_app/base.html" %}

{% block content %}

<h2>{% if chapter.num > 1 %}<a href="chapter.html?bk={{ book.num }}&ch={{ chapter.num|add:"-1" }}">-1</a>{% endif %} Text of {{ book.name|title }} {{ chapter.num }} {% if not is_last_chapter %}<a href="chapter.html?bk={{ book.num }}&ch={{ chapter.num|add:"+1" }}">+1</a>{% endif %}</h2>

<h3><a href="collation.html?bk={{ book.num }}&ch={{ chapter.num }}">View collation</a></h3>

<table>
    {% for verse in verses %}
        <tr><th colspan="2" align="left">Verse {{ verse.0 }}</th></tr>

        {% for text in verse.1 %}
            <tr>
                <th>
                    {% for ms in text.1 %}
                        <a href="/manuscript.html?ms_id={{ ms.0.id }}&bk={{ book.num }}&ch={{ chapter.num }}" title="{{ ms.0.display_ref }}"><font {% if ms.0.id == base_ms_id %}color="red"{% endif %}>{% if ms.0.tischendorf %}{{ ms.0.tischendorf }}{% else %}{% if ms.0.ga %}{{ ms.0.ga }}{% else %}{{ ms.0.ms_ref }}{% endif %}{% endif %}{% if ms.1 %}({{ ms.1 }}){% endif %}</font></a>&nbsp;
                    {% endfor %}
                </th>
                <td>{{ text.0 }}</td>
            </tr>
        {% endfor %}
        
    {% endfor %}
</table>

{% endblock content %}
