{% extends "stripey_app/base.html" %}

{% block content %}

<h2>{% if chapter.num > 1 %}<a href="collation.html?bk={{ book.num }}&ch={{ chapter.num|add:"-1" }}">-1</a>{% endif %} Text of {{ book.name|title }} {{ chapter.num }} {% if not is_last_chapter %}<a href="collation.html?bk={{ book.num }}&ch={{ chapter.num|add:"+1" }}">+1</a>{% endif %}</h2>

<h3><a href="chapter.html?bk={{ book.num }}&ch={{ chapter.num }}">View text</a></h3>

{% for verse, stripes in collation %}
<b>Verse {{ verse.num }}</b>
<table>
    {% for stripe, ms_stripes in stripes %}
        <tr>
            <th width="400px">
                {% for m in ms_stripes %}
                    <a href="/manuscript.html?ms_id={{ m.ms_verse.hand.manuscript.id }}&bk={{ book.num }}&ch={{ chapter.num }}" title="{{ m.ms_verse.hand.manuscript.display_ref }}"><font {% if m.ms_verse.hand.manuscript.id == base_ms_id %}color="red"{% endif %}>{{ m.ms_verse.hand.manuscript.display_short }}{% if m.ms_verse.hand.name != 'firsthand' %}&nbsp;<i>{{ m.ms_verse.hand.name }}</i>{% endif %}</font></a>&nbsp;
                {% endfor %}
            </th>
            {% for reading in stripe.readings.all %}
                <td>{{ reading.text }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endfor %}

{% endblock content %}
