{% extends "stripey_app/base.html" %}

{% block head %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>
    var toggle = 0;
    function toggleIdents() {
        if (toggle) {
            $('div.greek').show();
            $('div.ident').hide();
            toggle = 0;
        } else {
            $('div.greek').hide();
            $('div.ident').show();
            toggle = 1;
        }
     }

    function highlightReadings(row_id) {
        var row = $('#' + row_id);
        row.addClass('high_tr');
        $('td').removeClass('high_td');
        row.find('td').each(function() {
            var h = $(this).text();
            var i = $(this).attr('id');
            $('td#'+i).each(function() {
                if ($(this).text() == h) {
                    $(this).addClass('high_td');
                }
            });
        });
    }

    function resetRow(row_id) {
        $('#' + row_id).removeClass('high_tr');
    }

    $(document).ready(function() {
        // Convert the idents to letters
        var idents = ' bcdefghijklmnopqrstuvwxyz';

        $('table').each(function() {
            var other_rows = $(this).find('tr').slice(1);
            var base_row = $(this).find('tr:first');
            base_row.find('.ident').each(function() {
                // Translate our ident into 'a' or ' '
                var base_id = $(this).text();
                if (base_id == 0) {
                    var base_label = ' ';
                } else {
                    var base_label = 'a';
                }
                $(this).text(base_label);
                var coll_id = $(this).parent().attr('id');

                // Now set the idents on other rows
                other_rows.each(function() {
                    var div = $(this).children('td#'+coll_id).find('.ident');
                    if (div.text() == base_id) {
                        div.text(base_label);
                    } else {
                        div.text(idents[parseInt(div.text())]);
                    }
                });
            });
        });
    });
    function highlightManuscript(ms_cls) {
        $('.'+ms_cls).addClass('highlight_ms');
    }
    function resetManuscript(ms_cls) {
        $('.'+ms_cls).removeClass('highlight_ms');
    }
</script>
{% endblock head %}

{% block rightbar %}
    <a href="chapter.html?bk={{ book.num }}&ch={{ chapter.num }}&v={{ v }}">View text</a><br/>
    <a onclick="toggleIdents()">Toggle text/idents</a><br/>
    Change algorithm: {% for alg in algorithms %}{% if alg.name == algorithm.name %}<b>{{ alg.name }}</b>{% else %}<a href="collation.html?bk={{ book.num }}&ch={{ chapter.num }}&v={{ v }}&al={{ alg.name }}">{{ alg.name }}</a>{% endif %} {% endfor %}<br/>
    <a href="nexus.html?bk={{ book.num }}&ch={{ chapter.num }}&v={{ v }}&al={{ algorithm.name }}">View nexus file of this collation</a><br/>
    <a href="collation.html?bk={{ book.num }}&ch={{ chapter.num }}&al={{ algorithm.name }}">View collation of whole chapter (slow)</a><br/>

    <br/>
    <a href="book.html?bk={{ book.num }}">Overview for {{ book.name|title }}</b></a>

{% endblock rightbar %}

{% block content %}

<h1>{% if chapter.num > 1 %}<a href="collation.html?bk={{ book.num }}&ch={{ chapter.num|add:'-1' }}&v=1&al={{ algorithm.name }}">-1</a>{% endif %} Collation of {{ book.name|title }} {{ chapter.num }} ({{ algorithm.name }}) {% if not is_last_chapter %}<a href="collation.html?bk={{ book.num }}&ch={{ chapter.num|add:'+1' }}&v=1&al={{ algorithm.name }}">+1</a>{% endif %}</h1>

{% for verse, stripes in collation %}
    <h2>
        {% if v %}
            {% if v > 1 %}<a href="collation.html?bk={{ book.num }}&ch={{ chapter.num }}&v={{ v|add:'-1' }}&al={{ algorithm.name }}">-1</a>{% endif %} Verse {{ verse.num }}{% if not is_last_verse %} <a href="collation.html?bk={{ book.num }}&ch={{ chapter.num }}&v={{ v|add:'+1' }}&al={{ algorithm.name }}">+1</a>{% endif %}
        {% else %}
            <a href="collation.html?bk={{ book.num }}&ch={{ chapter.num }}&v={{ verse.num }}&al={{ algorithm.name }}">Verse {{ verse.num }}</a>
        {% endif %}
    </h2>

    <table>
        {% for stripe, ms_stripes in stripes %}
            <tr id="stripe{{ stripe.id }}" onmouseover="highlightReadings('stripe{{ stripe.id }}')" onmouseout="resetRow('stripe{{ stripe.id }}')">
                <th>
                    {% for m in ms_stripes %}
                        <a href="manuscript.html?ms_id={{ m.ms_verse.hand.manuscript.id }}&bk={{ book.num }}&ch={{ chapter.num }}" title="{{ m.ms_verse.hand.manuscript.display_ref }}">
                        <font class="{% if m.ms_verse.hand.manuscript.id == base_ms_id %}base_ms{% endif %} ms_{{ m.ms_verse.hand.manuscript.id }}" onmouseover="highlightManuscript('ms_{{ m.ms_verse.hand.manuscript.id }}')" onmouseout="resetManuscript('ms_{{ m.ms_verse.hand.manuscript.id }}')">
                            {{ m.ms_verse.hand.manuscript.display_short }}{% if m.ms_verse.hand.name != 'firsthand' %}&nbsp;<i>{{ m.ms_verse.hand.name }}</i>{% endif %}
                        </font></a>&nbsp;
                    {% endfor %}
                </th>
                <td>{{ stripe.similarity|floatformat }}%</td>
                {% for reading in stripe.sorted_readings %}
                    <td id="vr{{ reading.variant.id }}" nowrap class="greek">
                        <div class="greek">{{ reading.text }}</div>
                        <div class="ident" style="display:none">{{ reading.label }}</div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table><br/>
{% endfor %}

{% endblock content %}
