{% extends "stripey_app/base.html" %}

{% block rightbar %}
    <h1>Books</h1>
    {% for book in books %}
     <div>
      <b>{{ book.name|title }}:</b>
      {% for chapter in book.chapters %}
        <a href="chapter.html?bk={{ book.num }}&ch={{ chapter.num }}&v=1">{{ chapter.num }}</a>
      {% endfor %}
     </div>
    {% endfor %}
{% endblock rightbar %}

{% block content %}
    <div class="block">
        <h1>Manuscript transcriptions</h1>
        {% if all_mss %}
            <ul>
            {% for ms in all_mss %}
                <li><a href="manuscript.html?ms_id={{ ms.id }}">{{ ms.display_ref }}</a>
                    ({% for b in ms.books %}{{ b.book.name|title }}{% if not forloop.last %}, {% endif %}{% endfor %})</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No mss are available.</p>
        {% endif %}
    </div>
{% endblock content %}
