{% extends "stripey_app/base.html" %}

{% block content %}

{% if n_loaded %}
 <p>{{ n_loaded }} manuscripts need collating</p>
{% endif %}

{% if n_new %}
 <p>{{ n_new }} manuscripts need loading: <a href="load.html">load now</a></p>
{% endif %}


<h2>Manuscript transcriptions</h2>
{% if all_mss %}
    <ul>
    {% for ms in all_mss %}
        <li><a href="manuscript.html?ms_id={{ ms.id }}">{{ ms.ms_ref }} : {{ ms.xml_url }}</a> : {{ ms.status }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No mss are available.</p>
{% endif %}

{% endblock content %}
