{% extends "stripey_app/base.html" %}

{% block rightbar %}
    <h2>Books</h2>
    {% for book in books %}
     <div>
      <b><a href="book.html?bk={{ book.num }}">{{ book.name|title }}:</b></a>
      {% for chapter in book.chapters %}
        <a href="chapter.html?bk={{ book.num }}&ch={{ chapter.num }}&v=1">{{ chapter.num }}</a>
      {% endfor %}
     </div>
    {% endfor %}
{% endblock rightbar %}

{% block content %}
    <div class="block">
        <h1>Manuscript transcriptions</h1>
        {% if all_mss %}
            <table><tr>
            {% for sec in all_mss %}
                <td class="manuscript_list">
                <b>{{ sec.0 }} ({{ sec.1|length }})</b><hr/>
                {% for ms in sec.1 %}
                    <a href="manuscript.html?ms_id={{ ms.id }}">{{ ms.display_ref }}</a>
                    {% ifequal ms.books|length 27 %}
                        (Whole NT)
                    {% else %}
                        ({% for b in ms.books %}{{ b.book.name|title }}{% if not forloop.last %}, {% endif %}{% endfor %})
                    {% endifequal %}
                    <br/>
                {% endfor %}
                </td>
            {% endfor %}
            </tr></table>
        {% else %}
            <p>No mss are available.</p>
        {% endif %}
    </div>
{% endblock content %}
