{% extends "stripey_app/base.html" %}

{% block content %}

<h1>Manuscript {{ ms.ms_ref }}</h1>

<h2>{{ ms.display_ref }}</h2>

<p>Hands: {{ hands|join:', ' }}</p>

{% for book in books %}
 <div>
  <b>Book: {{ book.name|title }}</b>
  {% for chapter in book.chapters %}
    <a href="?ms_id={{ ms.id }}&bk={{ book.num }}&ch={{ chapter.num }}">{{ chapter.num }}</a>
  {% endfor %}
 </div>
{% endfor %}

<h3>{{ chapter_to_show.book.name|title }} {{ chapter_to_show.num }}</h3>
<table>
{% for verse in chapter_to_show.verses %}
  <tr><th>{{ verse.num }}{% if verse.hand.name != 'firsthand' %} [<i>{{ verse.hand.name }}</i>]{% endif %}</th><td>{{ verse.text }}</td></tr>
{% endfor %}
</table>

{% endblock content %}
