{% extends "stripey_app/base.html" %}

{% block head %}
    <script type="text/javascript" src="/static/stripey_app/d3.v3.min.js"></script>
    <script type="text/javascript" src="/static/stripey_app/chapter_correctors.js"></script>
    <script type="text/javascript" src="/static/stripey_app/d3.dependencyWheel.js"></script>
    <script type="text/javascript" src="/static/stripey_app/book_correctors.js"></script>
{% endblock head %}

{% block rightbar %}
    <a href="?ms_id={{ ms.id }}">Overview for {{ ms.display_ref }}</a>
    <p></p>
    {% if book_to_show %}
        <a href="chapter.html?bk={{ book_to_show.num }}{% if chapter_to_show %}&ch={{ chapter_to_show.num }}{% else %}&ch=1{% endif %}&v=1">View {{ book_to_show.name|title }} {{ chapter_to_show.num }} in all manuscripts</a>
        {% if chapter_to_show %}
            | <a href="?ms_id={{ ms.id }}&bk={{ book_to_show.num }}">Overview for {{ book_to_show.name|title }} in {{ ms.display_ref }}</a>
        {% endif %}
    {% endif %}
    <p></p>
    Select book or chapter:
    {% for book in books %}
     <div>
      <b><a href="?ms_id={{ ms.id }}&bk={{ book.num }}">{{ book.name|title }}</a>: </b>
      {% for chapter in book.chapters %}
        <a href="?ms_id={{ ms.id }}&bk={{ book.num }}&ch={{ chapter.num }}">{{ chapter.num }}</a>
      {% endfor %}
     </div>
    {% endfor %}
    <p></p>
    View {{ ms.display_ref }} in:
    <a href="http://ntvmr.uni-muenster.de/en_GB/manuscript-workspace/?docid={{ ms.liste_id }}">NTVMR</a> |
    <a href="http://www.iohannes.com/XML/transcriptions/greek/{{ ms.ms_ref }}.xml">IGNTP</a>
    <p></p>
    All hands in manuscript: {{ hands|join:", " }}
{% endblock rightbar %}

{% block content %}

    <h1>{{ ms.display_ref }}</h1>

    <div class="block">
        {% if chapter_to_show %}
            <h2>{{ book_to_show.name|title }} {{ chapter_to_show.num }}</h2>

            <div id="graph"></div>
            <script>
                chapter_correctors_gr({{ ms.id }}, {{ chapter_to_show.book.num }}, {{ chapter_to_show.num }});
            </script>

            <table>
            {% for verse in chapter_to_show.verses %}
              <tr>
                  <th>{{ verse.verse.num }}{% if verse.hand.name != 'firsthand' %} [<i>{{ verse.hand.name }}</i>]{% endif %}</th>
                  <td class="greek">{{ verse.text }}</td>
              </tr>
            {% endfor %}
            </table>
        {% else %}
            <h2>{{ book_to_show.name|title }}</h2>
            {% if book_to_show %}
                <div id="graph"></div>
                <script>
                    book_correctors_gr({{ ms.id }}, {{ book_to_show.num }});
                </script>
            {% else %}
                <div id="graph"></div>
                <script>
                    manuscript_correctors_gr({{ ms.id }});
                </script>
            {% endif %}
        {% endif %}

    </div>
    <br/>

{% endblock content %}
