{% extends "stripey_app/base.html" %}

{% block head %}
    <script type="text/javascript" src="/static/stripey_app/d3.v3.min.js"></script>
    <script type="text/javascript" src="/static/stripey_app/chapter_correctors.js"></script>
    <script type="text/javascript" src="/static/stripey_app/d3.dependencyWheel.js"></script>
    <script type="text/javascript" src="/static/stripey_app/book_correctors.js"></script>
{% endblock head %}

{% block rightbar %}
    {% if book_to_show %}
        <a href="chapter.html?bk={{ book_to_show.num }}{% if chapter_to_show %}&ch={{ chapter_to_show.num }}{% else %}&ch=1{% endif %}&v=1">View {{ book_to_show.name|title }} {{ chapter_to_show.num }} in all manuscripts</a><br/><br/>
    {% endif %}

    <h2>{{ ms.display_ref }}</h2>
    <a href="?ms_id={{ ms.id }}">Overall correctors' chart </a><br/>

    {% if book_to_show %}
        {% if chapter_to_show %}
            <a href="?ms_id={{ ms.id }}&bk={{ book_to_show.num }}">{{ book_to_show.name|title }} correctors' chart</a><br/>
        {% endif %}
    {% endif %}

    <br/><h2>Text in {{ ms.display_ref }}</h2>
    {% for book in books %}
     <div>
      <b><a href="?ms_id={{ ms.id }}&bk={{ book.num }}">{{ book.name|title }}</a>: </b>
      {% for chapter in book.chapters %}
        <a href="?ms_id={{ ms.id }}&bk={{ book.num }}&ch={{ chapter.num }}">{{ chapter.num }}</a>
      {% endfor %}
     </div>
    {% endfor %}

    <br/><h2>Correctors</h2>
    {% if correctors %}
        All correctors in manuscript:
            {% for h in correctors %}
                <a href="hand.html?ms_id={{ ms.id }}&hand={{ h }}">{{ h }}</a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}

        <p></p>
        Number of corrected verses per book:<br/>
        {% for c in corrections_per_book %}
            {{ c.0.name|title }} : {{ c.1 }} ({{ c.2|floatformat }}%)<br/>
        {% endfor %}

    {% else %}
        Manuscript has no correctors.
    {% endif %}

    <br/><h2>Links</h2>
    View {{ ms.display_ref }} in:
    <a href="http://ntvmr.uni-muenster.de/en_GB/manuscript-workspace/?docid={{ ms.liste_id }}">NTVMR</a> |
    <a href="http://www.iohannes.com/XML/transcriptions/greek/{{ ms.ms_ref }}.xml">IGNTP</a>

    {% if book_to_show %}
        <br/>
        <a href="book.html?bk={{ book.num }}">Overview for {{ book.name|title }}</b></a>
    {% endif %}


{% endblock rightbar %}

{% block content %}

    <h1>{{ ms.display_ref }}</h1>

    <div class="block">
        {% if chapter_to_show %}
            <h2>{{ book_to_show.name|title }} {{ chapter_to_show.num }}</h2>

            {% if correctors %}
                <div id="graph"></div>
                <script>
                    chapter_correctors_gr({{ ms.id }}, {{ chapter_to_show.book.num }}, {{ chapter_to_show.num }});
                </script>
            {% else %}
                <p>No corrections to display</p>
            {% endif %}

            <table>
            {% for verse in chapter_to_show.verses %}
              <tr>
                  <th>{{ verse.verse.num }}{% if verse.hand.name != 'firsthand' %} <a href="hand.html?ms_id={{ ms.id }}&hand={{ verse.hand.name }}">{{ verse.hand.name }}</a>{% endif %}</th>
                  <td class="greek">{{ verse.text }}</td>
              </tr>
            {% endfor %}
            </table>
        {% else %}
            <h2>{{ book_to_show.name|title }}</h2>
            {% if book_to_show %}
                {% if correctors %}
                    <div id="graph"></div>
                    <script>
                        book_correctors_gr({{ ms.id }}, {{ book_to_show.num }});
                    </script>
                {% else %}
                    <p>No corrections to display</p>
                {% endif %}
            {% else %}
                {% if correctors %}
                    <div id="graph"></div>
                    <script>
                        manuscript_correctors_gr({{ ms.id }});
                    </script>
                {% else %}
                    <p>No corrections to display</p>
                {% endif %}
            {% endif %}
        {% endif %}

    </div>
    <br/>

{% endblock content %}
